export MYUID := $(shell id -u)
export MYGID := $(shell id -g)

# Use debug for step-by-step debugging
# https://xdebug.org/docs/all_settings#mode
export XDEBUG_MODE = off

# Binaries and tooling
DOCKER_COMPOSE_FILE_DIR= ./docker/analytics-service/docker-compose.yml
BIN_PHP=docker compose -f ${DOCKER_COMPOSE_FILE_DIR} exec -T -e XDEBUG_MODE=${XDEBUG_MODE} php /usr/local/bin/php
BIN_PHP_NO_DEBUG=docker compose -f ${DOCKER_COMPOSE_FILE_DIR} exec -T -e XDEBUG_MODE=${XDEBUG_MODE} php /usr/local/bin/php
