/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!/var/cache/.gitkeep
!/var/log/.gitkeep
/vendor/
/.phpunit.cache/
/reports/
/coverage/
/phpunit.xml
.deptrac.cache
.php-cs-fixer.cache
.phpunit.result.cache
/behat.yml
/xdebug.log

